*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #21243D;
    ;
}
@font-face {
    font-family: 'Heebo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Heebo Regular'), url("./fonts/Heebo-Regular.woff") ;
    }
  
    @font-face {
        font-family: 'Heebo Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Heebo Bold'), url("./fonts/Heebo-Bold.woff") ;
        }

        h1,h2{
            font-family:"Heebo Bold" ;
            font-weight: bold;
        }
        
body{
    
    height: 100vh;
    max-width: 100%;
    font-family:"Heebo Regular" ;
}
.mainContainer{
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    
}
#container{
    height: 100%;
    max-width: 100%;
    /* background-color: red; */
}
#icon{
    display: none;
}
#nav{
    display: flex;
    height: 43px;
    max-width: 100%;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 680px; */
    /* background-color: yellow; */
    
}
#nav h4{
    margin-right: 60px;
    padding-top: 20px;
}

#page1{
    display: flex;
    height: 550px;
    justify-content: space-between;
    max-width: 1200px;
    /* background-color: yellow; */
}
#page1-text{
    max-width: 600px;
    /* background-color: white; */
    padding-top: 13%;
    padding-left: 12%;
}
#page1-text #heading{
    font-size: 45px;
    /* font-weight: 700; */
    
}
#page1-text p{
    margin-top: 30px;
    font-size: 16px;    
    max-width: 420px;
    
}
#page1-text button{
    padding: 14px 19px;
    background-color: #FF6464;
    color: white;
    font-size: 19px;
    border: none;
    margin-top:25px ;
    border-radius: 2px;
    
}
#page1-image{
    width: 40%;
    /* background-color: red; */
    padding-top: 15%;
    padding-left: 80px;    
    object-fit: cover;  
}
#page1-image img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    
}
#page2{
    height: 350px;
    width: 100%;
    background-color: #EDF7FA;
    /* background-color: red; */
    padding-left: 13%;
}
#page2-text{
    padding-top: 2%;    
    display: flex;
    justify-content: space-between;
}
#page2-text p{
    font-size: 23px;
}
#page2-text a{
    margin-right: 170px;
    color: #00A8CC;
    font-size: 16px;
    text-decoration: none;
}
#page2-boxes{
    width: 85%;
    background-color:#EDF7FA;
    height: 260px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    
}
#page2-boxes h2{
    font-size: 27px;
}
#page2-boxes-box1{
    width: 49%;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
}
#page2-boxes-box1 p{
    /* width: 80%; */
    margin-top: 20px;
    font-size: 16px;
    /* padding-bottom: 20px; */
}
#page2-boxes-box2{
    width: 49%;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
}
#page2-boxes-box2 p{
    margin-top: 20px;
    font-size: 16px;
}
#page2-boxes-box1 .space-para{
    font-size: 19px;
}
#page2-boxes-box2 .space-para{
    font-size: 19px;
}
#page2-boxes-box1 .double-space{
    letter-spacing: 25px;
}
#page2-boxes-box2 .double-space{
    letter-spacing: 25px;
}
#page3{
    height: 700px;
    width: 100%;
    background-color: white;
    padding-left: 13%;
    padding-top: 2%;
    
}
#page3-firstPara{
    font-size:23px ;
    padding-bottom: 10px;

}
#page3-block1{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    /* align-items: flex-start; */
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* background-color: red; */
    /* background-color: yellow; */
}

#page3-block1-img img{
    width: 300px;
    height: 180px;
    border-radius: 6px;
    padding-right: 50px;  
    object-fit: cover;  
    background-size: cover;
}
#smallText{
    display: flex;
    padding-top: 10px;   
    height: 45px;
    
}
#smallText p{
    padding-right: 25px;
}
#smallTextP1 strong{
    background-color: #142850;
    color: white;
    padding: 1px 9px;
    border-radius: 16px;
    width: 62px;
    height: 25px;
}
#smallText .dashboard{
    font-size: 18px;
    color: #8695A4;
}
#page3-block1-text{
    /* background-color: yellow; */
    height: 160px;
    margin-left: -33px;
}
#page3-block1-text h2{
    /* background-color: yellow; */
    font-size: 32px;
}
#page3-block1-text p{
    padding-top: 12px;
    font-size: 17px;
}
.line{
    width: 80%;
    
    margin-bottom: 29px;    
    margin-top: -10px;
    background-color: #E0E0E0;
}
#footer{
    /* background-color: red; */
    height: 120px;
    margin-top: 170px;

}
#images{
    display: flex;
    height: 30px;
    justify-content: center;  
    padding-left: 40px;
    /* padding-bottom: 10px; */
    /* background-color: red;   */
}
#images img{
    padding-right: 35px;
}
#copyright{
    margin-top: 20px;
    font-size: 12px;
    justify-content: center;
    display: flex;
    
}


@media(max-width:900px){
    #nav{
        height: 43px;
        font-size: 13px;
        
        
    }
    #nav h4{
        padding-right: 1px;
    }
    #page1{
        
        max-width: 900px;
        height: 400px;
    }
    #page1-text{
        
        margin-left: -40px;
    }
    #page1-text #heading{
        font-size: 30px;
    }
    #page1-text p{
        font-size: 13px;
    }
    #page1-text button{
        padding: 7px 10px;
        font-size: 14px;
    }
    #page1-image{
       
        padding-right: 30px;
        padding-bottom: 90px;
    }
    #page1-image img{
        height: 200px;
        width: 200px;       
    }
    #page2{
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #page2-text{        
        width: 89%;
    }
    
    #page2-text p{        
        font-size: 18px;
    }

    #page2-boxes{
        
        width: 800px;
        height: 230px;
    }
    
    #page2-boxes-box1 h2{
        font-size:23px ;        
    }
    #page2-boxes-box1 p{
        font-size:13px ;
    }
    #page2-boxes-box1 .space-para{
        font-size:15px ;
    }
    #page2-boxes-box2 h2{
        font-size:23px ;
    }
    #page2-boxes-box2 p{
        font-size:13px ;
    }
    #page2-boxes-box2 .space-para{
        font-size:15px ;
    }
    #page3{
        
    }
    #page3-firstPara{
        font-size: 18px;
    }
    #page3-block1-img img{
        height: 150px;
        width: 250px;
    }
    #page3-block1-text h2{
        font-size: 23px;
    }
    #smallText #smallTextp1{
        font-size: 12px;
    }
    #smallText .dashboard{
        font-size: 18px;
    }
    #page3-block1-text p{
        font-size: 13px;
    }
    #footer{
        margin-top: 90px;
    }
}

@media(max-width:800px)
{
    
    #page1-image img{
        height: 190px;
        width: 190px;
        margin-top:-25px;
    }
    #page1 #heading{
        font-size: 25px;
    }
    #page1-text p{
        width: 80%;
    }
    #page2-text{        
        width: 86%;
    }
    
    #page2-text p{        
        font-size: 18px;       
    }
    #page2-text a{
        margin-right: 0;
    }
    #page2-boxes{
       
        width: 700px;
        height: 230px;
    }
    #page2-boxes-box1 h2{
        font-size: 20px;
    }
    #page2-boxes-box2 h2{
        font-size: 20px;
    }
    #page3{
        padding-left: 50px;
    }
    #page3-block1-text h2{
        font-size: 20px;
    }
    #smallText .dashboard{
        font-size: 15px;
    }
    #images img{
        height: 25px;
    }
    #copyright p{
        font-size: 10px;
    }
    
}
@media(max-width:700px)
{
    #page1{
        height: 350px;
    }
    #page1-image img{
        height: 150px;
        width: 150px;
        margin-top:-25px;
    }
    #page1 #heading{
        font-size: 22px;
    }
    #page1-text {
        margin-left: 8px;
    }
    #page1-image{
        margin-right: 50px;
    }
    #page1-text p{
        font-size: 11px;
        width: 90%;
    }
    #page1-text button{
        padding: 6px 9px;
    }
    #page2{
        height: 320px;
        /* margin-bottom:50px; */
    }
    #page2-text{        
        width: 75%;
    }
    
    #page2-text p{        
        font-size: 15px;       
    }
    #page2-text a{
        margin-right: 0;
        font-size: 15px;
    }
    #page2-boxes{
       
        width: 530px;
        height: 230px;
    }
    #page2-boxes-box1 p{
        font-size: 11px;
    }
    #page2-boxes-box1 h2{
        font-size: 17px;
    }
    #page2-boxes-box1 .space-para{
        font-size: 14px;
    }
    #page2-boxes-box2 h2{
        font-size: 17px;
    }
    #page2-boxes-box2 p{
        font-size: 11px;
    }
    #page2-boxes-box2 .space-para{
        font-size: 14px;
    }
    #page3{
        padding-left: 85px;
    }
    #page3-block1-text h2{
        font-size: 17px;
    }
    #page3-block1-text p{
        font-size: 11px;
    }
    #smallText #smallTextp1{
        font-size: 11px;
    }
    #smallText .dashboard{
        font-size: 13px;
    }     
}
@media(max-width:500px){
    #page1{
        height: 320px;
    }
    #page1-image img{
        height: 120px;
        width: 120px;
    }
    #page1 #heading{
        font-size: 19px;
        /* background-color: rebeccapurple; */
        /* width: 190px; */
    }
    #page1-text {
        margin-left: 8px;
    }
    #page1-image{
        margin-right: 50px;
    }
    #page1-text p{
        font-size: 9px;
        /* width: 200px; */
        /* background-color: rebeccapurple; */
    }
    #page1-text button{
        padding: 3px 6px;
        font-size: 10px;
    }
    #page2{
        height: 280px;
        /* margin-bottom:50px; */
    }
    #page2-text{        
        width: 73%;
    }
    
    #page2-text p{        
        font-size: 13px;       
    }
    #page2-text a{
        margin-right: 0;
        font-size: 13px;
    }
    #page2-boxes{
       
        width: 380px;
        height: 200px;
    }
    #page2-boxes-box1 p{
        font-size: 9px;
    }
    #page2-boxes-box1 h2{
        font-size: 11px;
    }
    #page2-boxes-box1 .space-para{
        font-size: 10px;
    }
    #page2-boxes-box2 h2{
        font-size: 11px;
    }
    #page2-boxes-box2 p{
        font-size: 9px;
    }
    #page2-boxes-box2 .space-para{
        font-size: 10px;
    }
    #page3{
        padding-left: 85px;
    }
    
    #page3-firstPara{
        font-size: 13px;
    }
    
    #page3-block1-img img{
        height: 120px;
        width: 200px;
    }
    
    #page3-block1-text h2{
        font-size: 11px;
    }
    
    #page3-block1-text p{
        font-size: 9px;
        /* width: 200px; */
    }
    
    #smallText #smallTextp1{
        font-size: 9px;
    }
    #smallText .dashboard{
        font-size: 10px;
    }     
}
@media(max-width:450px){

    #nav{
        display: none;
    }
    #icon{
        display:inline-block;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        /* align-items: center;    */    
        
    }    
    #icon img{ 
        height: 30px;
        margin-right: 10px;
    }
    #page1{
        
        flex-direction: column-reverse;          
        height: 600px;
        justify-content: center; 
        width: 100%;
        /* background-color: #00A8CC; */
    }
    #page1-image{
        
        width: 100%; 
        padding-left: 0;      
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        padding-bottom: 0px;
        margin-right: 0;
        padding-top: 0;
    }
    #page1-image img{   
        height: 200px;     
        width: 200px;
    }

    #page1-text{
        
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #page1-text #heading{
        width: 60%;
        font-size: 30px;
        line-height: 35px;
    }
    #page1-text p{
        width: 90%;
        font-size: 13px;
    }
    #page1-text button{
        padding: 10px 20px;
        font-size: 13px;     
    }
    #page2{        
        height: 550px;
        width: 100%;        
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;        
        /* background-color: rebeccapurple; */
    }
    #page2-text a{
        display: none;
    }
    #page2-text p{
        font-size: 16px;
         display: flex;
        align-items: center;
        justify-content: center;   
        
        width: 100%;
        /* background-color: blue; */
    }
    #page2-boxes{
        flex-direction: column;       
        align-items: center;
        width: 100%;    
        /* background-color: red;        */
        /* height: 100%; */
        margin-bottom: 300px;
        /* margin-top: 200px; */
    }
    #page2-boxes-box1{
        width: 97%;
        height: 200px;        
        margin-bottom: 15px;
    }
    #page2-boxes-box1 h2{
        font-size: 26px;
        margin-bottom: -10px;
    }

    #page2-boxes-box1 p{
        font-size: 13px;
    }
    #page2-boxes-box1 .space-para{
        font-size: 16px;
        margin-bottom: -6px;
    }
    #page2-boxes-box2{
        height: 200px;
        width: 97%;
       
    }
    #page2-boxes-box2 h2{
        font-size: 26px;
        margin-bottom: -10px;
    }
    #page2-boxes-box2 p{
        font-size: 13px;
    }
    #page2-boxes-box2 .space-para{
        font-size: 16px;
        margin-bottom: -6px;
    }
    #page3{
        
        margin-top: -150px;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: center;
       
    }
    #page3-firstPara{
        font-size: 16px;
        
    }
    #page3-block1{
        flex-direction: column;
    }
    #page3 .remove{
        display: none;
    }
    #page3-block1-img{
        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
    }
    #page3-block1-img img{
        height: 300px;
        width: 900px;
    }
    #page3-block1-text h2{
        font-size: 24px;
        padding-top: 15px;
        margin-bottom: -10px;
    }
    #smallText{
        
    }
    #smallText #smallTextP1{
        font-size: 13px;
    }
    #smallText .dashboard{
        font-size: 15px;        
    }
    #page3-block1-text .page3-block1-textp3{
        width: 100%;
        font-size: 13px;        
   }
   .line{
    
    width: 90%;
}

}
@media(max-width:350px){
    #page1-text p{
        font-size: 11px;
    }
    #page2-boxes-box1 h2{
        font-size: 22px;
    }
    #page2-boxes-box1 p{
        font-size: 11px;
    }
    #page2-boxes-box1 .space-para{
        font-size: 13px;
    }
    #page2-boxes-box2 h2{
        font-size: 22px;
    }
    #page2-boxes-box2 p{
        font-size: 11px;
    }
    #page2-boxes-box2 .space-para{
        font-size: 13px;
    }
    #page3-block1-text #page3-block1-textp3{
        font-size: 11px;
    }
}