*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #21243D;
    ;
}
@font-face {
    font-family: 'Heebo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Heebo Regular'), url("./fonts/Heebo-Regular.woff") ;
    }
  
    @font-face {
        font-family: 'Heebo Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Heebo Bold'), url("./fonts/Heebo-Bold.woff") ;
        }

        h1,h2{
            font-family:"Heebo Bold" ;
            font-weight: bold;
        }
        
body{
    
    height: 100vh;
    width: 100%;
    font-family:"Heebo Regular" ;
}
.mainContainer{
    max-width: 1150px;
    margin: 0 auto;
    
}
#container{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
#nav{
    display: flex;
    height: 43px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 680px; */
    /* background-color: yellow; */
    
}
#nav h4{
    margin-right: 38px;
    padding-top: 20px;
}

#page1{
    display: flex;
    height: 470px;
    justify-content: space-between;
}
#page1-text{
    width: 500px;
    /* background-color: white; */
    padding-top: 13%;
    padding-left: 13%;
}
#page1-text #heading{
    font-size: 35px;
    /* font-weight: 700; */
    
}
#page1-text p{
    margin-top: 25px;
    font-size: 13px;    
    width: 420px;
    
}
#page1-text button{
    padding: 10px;
    background-color: #FF6464;
    color: white;
    font-size: 15px;
    border: none;
    margin-top:25px ;
    border-radius: 2px;
    
}
#page1-image{
    width: 40%;
    /* background-color: red; */
    padding-top: 12%;
    padding-left: 80px;    
    object-fit: cover;  
}
#page1-image img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}
#page2{
    height: 315px;
    width: 100%;
    background-color: #EDF7FA;
    padding-left: 13%;
}
#page2-text{
    padding-top: 2%;    
    display: flex;
    justify-content: space-between;
}
#page2-text p{
    font-size: 20px;
}
#page2-text a{
    margin-right: 130px;
    color: #00A8CC;
    font-size: 16px;
    text-decoration: none;
}
#page2-boxes{
    width: 85%;
    background-color:#EDF7FA;
    height: 230px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    
}
#page2-boxes h2{
    font-size: 23px;
}
#page2-boxes-box1{
    width: 47%;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
}
#page2-boxes-box1 p{
    margin-top: 20px;
    font-size: 13px;
}
#page2-boxes-box2{
    width: 47%;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
}
#page2-boxes-box2 p{
    margin-top: 20px;
    font-size: 13px;
}
#page2-boxes-box1 .space-para{
    font-size: 16px;
}
#page2-boxes-box2 .space-para{
    font-size: 16px;
}
#page2-boxes-box1 .double-space{
    letter-spacing: 25px;
}
#page2-boxes-box2 .double-space{
    letter-spacing: 25px;
}
#page3{
    height: 700px;
    width: 100%;
    background-color: white;
    padding-left: 13%;
    padding-top: 2%;
    
}
#page3-firstPara{
    font-size:20px ;
    padding-bottom: 10px;

}
#page3-block1{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    /* align-items: flex-start; */
    width: 80%;
    padding-bottom: 10px;
    /* background-color: red; */
    /* background-color: yellow; */
}

#page3-block1-img img{
    width: 256px;
    height: 145px;
    border-radius: 6px;
    padding-right: 50px;  
    object-fit: cover;  
    background-size: cover;
}
#smallText{
    display: flex;
    padding-top: 10px;   
    height: 45px;
    
}
#smallText p{
    padding-right: 25px;
}
#smallTextP1 strong{
    background-color: #142850;
    color: white;
    padding: 1px 9px;
    border-radius: 16px;
    width: 62px;
    height: 25px;
}
#smallText .dashboard{
    font-size: 16px;
    color: #8695A4;
}
#page3-block1-text{
    /* background-color: yellow; */
    height: 160px;
    margin-left: -33px;
}
#page3-block1-text h2{
    /* background-color: yellow; */
    
}
#page3-block1-text p{
    padding-top: 10px;
    font-size: 13px;
}
.line{
    width: 80%;
    margin-bottom: 27px;    
    margin-top: -10px;
    background-color: #E0E0E0;
}
#footer{
    /* background-color: red; */
    height: 100px;
    margin-top: 40px;
}
#images{
    display: flex;
    height: 30px;
    justify-content: center;  
    /* padding-bottom: 10px; */
    /* background-color: red;   */
}
#images img{
    padding-right: 35px;
}
#copyright{
    margin-top: 17px;
    font-size: 12px;
    justify-content: center;
    display: flex;
}
@media (max-width: 500px){
    #page1{
        flex-direction: column-reverse;
        justify-content: center;
        /* align-items: center; */
        /* background-color: yellow; */
        height: 550px;
        margin-bottom: 180px;
    }
    #page1-image{
            margin-left: 80px;
            margin-top: 110px;
    } 
    #heading{
        text-align: center;
        width: 75%;
        margin-left: 30px;
        line-height: 40px;
    
    }
    #page1-text{
        padding-top: 45px;
    }
    #page1-text p{
        font-size: 20px;
        width: 95%;
    }
    #page1-text button{
        padding: 15px 60px;
        font-size: 25px;
        margin-left: 30px;
    }
    #page2-text a{
        display: none;
    }
    #page2-text p{
        font-size: 22px;
        margin-left: 120px;
        margin-top: 15px;
    }
    #page2{
        /* margin-bottom: 200px; */
        height: 750px;
        width: 500px;
    }
    #page2-boxes{
        flex-direction: column;
        /* background-color: red;  */
        width: 475px;        
        margin-left: -49px;
        /* text-align: center; */
    }
    #page2-boxes-box1{
        /* text-align: center; */
        width: 480px;
        margin-bottom: 20px;
        
    }
    #page2-boxes-box1 h2{
        font-size: 30px;
    }
    #page2-boxes-box1 p{
        font-size: 20px;
    }
    #page2-boxes-box1 .space-para{
        font-size: 21px;
    }

    #page2-boxes-box2{
        /* text-align: center; */
        width: 480px;
        margin-bottom: 20px;
    }
    #page2-boxes-box2 h2{
        font-size: 30px;
    }
    #page2-boxes-box2 p{
        font-size: 20px;
    }
    #page2-boxes-box2 .space-para{
        font-size: 21px;
    }
    #page3{
        height: 800px;
        /* background-color: rebeccapurple; */
        margin-bottom: 80px;
        /* background-color: red; */
        width:500px;
    }
    #page3-firstPara{
        font-size: 22px;
        margin-left: 120px;
        margin-top: 15px;
    }
    #page3-block1{
        flex-direction: column;
        margin-bottom: 80px;
        padding-bottom: 50px;
    }
    #page3-block1-img img{
        width: 510px;
        height: 300px;
        margin-left: -40px;
    }
    #page3-block1-text h2{
        font-size: 30px;
        padding-top: 15px;
    }
    #smallText #smallTextP1{
        font-size: 15px;
    }
    #smallText .dashboard{
        font-size: 20px;
    }
    #page3-block1-text p{
        font-size: 20px;
        
    }
    #page3 .remove{
        display: none;
    }
   
}