*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #21243D;
    ;
}
@font-face {
    font-family: 'Heebo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Heebo Regular'), url("./fonts/Heebo-Regular.woff") ;
    }
  
    @font-face {
        font-family: 'Heebo Bold';
        font-style: normal;
        font-weight: normal;
        src: local('Heebo Bold'), url("./fonts/Heebo-Bold.woff") ;
        }

        h1,h2{
            font-family:"Heebo Bold" ;
            font-weight: bold;
        }
        
body{
    
    height: 100vh;
    max-width: 100%;
    font-family:"Heebo Regular" ;
}
.mainContainer{
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    
}
#container{
    height: 100%;
    max-width: 100%;
    /* background-color: red; */
}
#icon{
    display: none;
}
#nav{
    display: flex;
    height: 43px;
    max-width: 100%;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 680px; */
    /* background-color: yellow; */
    
}
#nav h4{
    margin-right: 60px;
    padding-top: 20px;
}

#page1{
    display: flex;
    height: 550px;
    justify-content: space-between;
    max-width: 1200px;
    /* background-color: yellow; */
}
#page1-text{
    max-width: 600px;
    /* background-color: white; */
    padding-top: 13%;
    padding-left: 12%;
}
#page1-text #heading{
    font-size: 45px;
    /* font-weight: 700; */
    
}
#page1-text p{
    margin-top: 30px;
    font-size: 16px;    
    max-width: 420px;
    
}
#page1-text button{
    padding: 14px 19px;
    background-color: #FF6464;
    color: white;
    font-size: 19px;
    border: none;
    margin-top:25px ;
    border-radius: 2px;
    
}
#page1-image{
    width: 40%;
    /* background-color: red; */
    padding-top: 15%;
    padding-left: 80px;    
    object-fit: cover;  
}
#page1-image img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    
}
#page2{
    height: 350px;
    width: 100%;
    background-color: #EDF7FA;
    /* background-color: red; */
    padding-left: 13%;
}
#page2-text{
    padding-top: 2%;    
    display: flex;
    justify-content: space-between;
}
#page2-text p{
    font-size: 23px;
}
#page2-text a{
    margin-right: 170px;
    color: #00A8CC;
    font-size: 16px;
    text-decoration: none;
}
#page2-boxes{
    width: 85%;
    background-color:#EDF7FA;
    height: 260px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    
}
#page2-boxes h2{
    font-size: 27px;
}
#page2-boxes-box1{
    width: 49%;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
}
#page2-boxes-box1 p{
    /* width: 80%; */
    margin-top: 20px;
    font-size: 16px;
    /* padding-bottom: 20px; */
}
#page2-boxes-box2{
    width: 49%;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
}
#page2-boxes-box2 p{
    margin-top: 20px;
    font-size: 16px;
}
#page2-boxes-box1 .space-para{
    font-size: 19px;
}
#page2-boxes-box2 .space-para{
    font-size: 19px;
}
#page2-boxes-box1 .double-space{
    letter-spacing: 25px;
}
#page2-boxes-box2 .double-space{
    letter-spacing: 25px;
}
#page3{
    height: 700px;
    width: 100%;
    background-color: white;
    padding-left: 13%;
    padding-top: 2%;
    
}
#page3-firstPara{
    font-size:23px ;
    padding-bottom: 10px;

}
#page3-block1{
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    /* align-items: flex-start; */
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* background-color: red; */
    /* background-color: yellow; */
}

#page3-block1-img img{
    width: 300px;
    height: 180px;
    border-radius: 6px;
    padding-right: 50px;  
    object-fit: cover;  
    background-size: cover;
}
#smallText{
    display: flex;
    padding-top: 10px;   
    height: 45px;
    
}
#smallText p{
    padding-right: 25px;
}
#smallTextP1 strong{
    background-color: #142850;
    color: white;
    padding: 1px 9px;
    border-radius: 16px;
    width: 62px;
    height: 25px;
}
#smallText .dashboard{
    font-size: 18px;
    color: #8695A4;
}
#page3-block1-text{
    /* background-color: yellow; */
    height: 160px;
    margin-left: -33px;
}
#page3-block1-text h2{
    /* background-color: yellow; */
    font-size: 32px;
}
#page3-block1-text p{
    padding-top: 12px;
    font-size: 17px;
}
.line{
    width: 80%;
    
    margin-bottom: 29px;    
    margin-top: -10px;
    background-color: #E0E0E0;
}
#footer{
    /* background-color: red; */
    height: 120px;
    margin-top: 170px;

}
#images{
    display: flex;
    height: 30px;
    justify-content: center;  
    padding-left: 40px;
    /* padding-bottom: 10px; */
    /* background-color: red;   */
}
#images img{
    padding-right: 35px;
}
#copyright{
    margin-top: 20px;
    font-size: 12px;
    justify-content: center;
    display: flex;
    
}
/* @media (max-width: 450px){
    
    #nav{
        display: none;
    }
    #icon{
        display:inline-block;
        display: flex;
        justify-content: flex-end;
        width: 247px;
        height: 50px;
        align-items: center;        
    }    
    #icon img{
        height: 30px;
        margin-right: 10px;
    }
    #page1{
        flex-direction: column-reverse;
        
        height: 500px;
        margin-bottom: 60px;
        
        margin-top: 120px;
                
    }
    #page1-image{
        
           
            width: 100%;
            padding-left: 120px;
    } 
    #page1-image img{
        height: 220px;
        width: 220px;
    }
    #page1-text{
        
        padding-top: 45px;
    }
    #page1-text #heading{
        padding-left: 50px;
        font-size: 38px;
    }
    #heading{
        text-align: center;
        width: 80%;
        
        line-height: 35px;
    
    }
    
    #page1-text p{
        text-align: center;
        font-size: 17px;
      
        max-width: 500px;
        padding-right: 40px;
    }
    #page1-text button{
        padding: 12px 20px;
        font-size: 16px;
        margin-left: 90px;
      
    }
    #page2{
        
        height: 530px;
        width: 500px;
    }
    #page2-text a{
        display: none;
    }
    #page2-text p{
        font-size: 15px;
        margin-left: 11px;
        margin-top: 15px;
    }
    
    #page2-boxes{
        flex-direction: column;
        width: 475px;        
        margin-left: -72px;
        
    }
    #page2-boxes-box1{
        
        width: 50%;
        margin-bottom: 20px;
        
    }
    #page2-boxes-box1 h2{
        font-size: 15px;
        
        margin-bottom: -10px;
    }
    #page2-boxes-box1 p{
        font-size: 11px;
    }
    #page2-boxes-box1 .space-para{
        font-size: 12px;
        margin-bottom: -8px;
        
    }

    #page2-boxes-box2{
    
        width: 50%;
        margin-bottom: 20px;
    }
    #page2-boxes-box2 h2{
        font-size: 15px;
    }
    #page2-boxes-box2 p{
        font-size: 11px;
    }
    #page2-boxes-box2 .space-para{
        font-size: 12px;
        margin-bottom: -8px;
    }
    #page3{
        height: 410px;
        margin-bottom: 80px;
        width:500px;
        
    }
    #page3-firstPara{
        font-size: 15px;
        margin-left: 5px;
        margin-top: 15px;
    }
    #page3-block1{
        flex-direction: column;
        margin-bottom: -50px;
        padding-bottom: 50px;
    }
    
    #page3-block1-img img{
        width: 278px;
        height: 180px;
        margin-left: -68px;
    }
    #page3-block1-text h2{
        font-size: 17px;
        padding-top: 15px;
        margin-left: -35px;
        margin-bottom: -11px;
    }
    #smallText{
        margin-left: -35px;
    }
    #smallText #smallTextP1{
        font-size: 11px;
    }
    #smallText .dashboard{
        font-size: 13px;        
    }
    #page3-block1-text .page3-block1-textp3{
        width: 62.5%;
        font-size: 11px;
        margin-left: -35px;
   }
    #page3 .remove{
        display: none;
    }
    .line{
        margin-left: -67px;
        width: 54%;
    }
    #images{
        
        margin-left: 60px;
        height: 20px;        
        width: 20%;
    }
    #images img{
        padding-right: 25px;
    }
    #copyright{
        margin-left: 7px;
        width: 40%;
        font-size: 9px;
       
    }
} */
@media(max-width:450px){

    #nav{
        display: none;
    }
    #icon{
        display:inline-block;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        align-items: center;   
        /* background-color:blue;      */
    }    
    #icon img{
        height: 30px;
        margin-right: 10px;
    }
    #page1{
        
        flex-direction: column-reverse;        
        /* background-color: rebeccapurple; */
        height: 660px;
        justify-content: center; 
        width: 100%;
        
    }
    #page1-image{
        /* background-color: red;         */
        width: 100%; 
        padding-left: 0;      
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #page1-image img{   
        height: 200px;     
        width: 200px;
    }

    #page1-text{
        /* background-color: green; */
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #page1-text #heading{
        width: 60%;
        font-size: 30px;
        line-height: 35px;
    }
    #page1-text p{
        width: 90%;
        font-size: 13px;
    }
    #page1-text button{
        padding: 10px 20px;
        font-size: 13px;     
    }
    #page2{        
        height: 500px;
        width: 100%;
        /* background-color: red; */
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    #page2-text a{
        display: none;
    }
    #page2-text p{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: rebeccapurple; */
        /* margin-left: 11px;
        margin-top: 15px; */
    }
    #page2-boxes{
        flex-direction: column;  
        /* justify-content: center;       */
        align-items: center;
        width: 100%;          
        /* background-color: yellow;     */
    }
    #page2-boxes-box1{
        width: 97%;
        height: 300px;        
        /* background-color: aqua; */
        margin-bottom: 15px;
    }
    #page2-boxes-box1 h2{
        font-size: 26px;
        margin-bottom: -10px;
    }

    #page2-boxes-box1 p{
        font-size: 13px;
    }
    #page2-boxes-box1 .space-para{
        font-size: 16px;
        margin-bottom: -6px;
    }
    #page2-boxes-box2{
        height: 300px;
        width: 97%;
        /* background-color: #FF6464; */
    }
    #page2-boxes-box2 h2{
        font-size: 26px;
        margin-bottom: -10px;
    }
    #page2-boxes-box2 p{
        font-size: 13px;
    }
    #page2-boxes-box2 .space-para{
        font-size: 16px;
        margin-bottom: -6px;
    }
    #page3{
        /* background-color: pink; */
        margin-top: 900x;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-items: center;
        /* justify-content: center; */
    }
    #page3-firstPara{
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #page3-block1{
        flex-direction: column;
    }
    #page3 .remove{
        display: none;
    }
    #page3-block1-img{
        /* background-color: red; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
    }
    #page3-block1-img img{
        height: 300px;
        width: 900px;
    }
    #page3-block1-text h2{
        font-size: 24px;
        padding-top: 15px;
        margin-bottom: -10px;
    }
    #smallText{
        
    }
    #smallText #smallTextP1{
        font-size: 13px;
    }
    #smallText .dashboard{
        font-size: 15px;        
    }
    #page3-block1-text .page3-block1-textp3{
        width: 100%;
        font-size: 13px;        
   }
   .line{
    
    width: 90%;
}

}